.control {
    padding-top: 66px;
    &__heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &__video {
        margin-bottom: 24px;
    }
    &__panel {
        display: flex;
        flex-direction: column;
    }
}

.block {
    padding: 24px;
    background: #F8F8F8;
    border-radius: 20px;
}