.control {
    padding-top: 100px;
    &__content {
        background: white;
        width: 911px;
        height: 496px;
        border-radius: 10px;
        padding: 30px;
    }
    &__heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 20px;
    }
    &__help {
        font-size: 16px;
        line-height: 19px;
        color: #101010;
        margin-bottom: 25px;
    }
}